html {
    font-family: 'Montserrat', sans-serif;
}
html,body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1024px;
    margin: 0 auto;
    background: #f4f4f4;
}
main {
    flex: 1 0 70%;
}
aside {
    flex-basis: 30%;
}
aside ul {
    padding-left: 1.5em;
}
aside div {
    padding-left: 20px;
}
header {
    text-align: center;flex-basis: 100%;
}
.avatar {
    text-align: center;
}
.avatar img {
    height: 80px;width: 80px;border-radius: 15px;
}

.section {
    border-bottom: 1px solid #A9A9A9;
}
.about-me p{
    letter-spacing: 2px;
}

footer {
    text-align: center;flex: 1 0 auto;padding: 30px 0;
}
footer .copywriter {
    color: #A9A9A9;
}